.container.mt-3
  h3.mt-3.danger Reset user database
  .row
    .col-8.danger Please ensure you want to reset the database
    .col-4
      button.btn.btn-danger.form-control(@click="onResetDatabaseClicked") Reset database
